@font-face {
    font-family: Neon; /* Имя шрифта */
    src: url(fonts/NEON.TTF); /* Путь к файлу со шрифтом */
   }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white; 
}
body{
    margin: 0 auto;
    background-color: black;
}

h1, h2, h3 {
    font-family: Neon;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
}
h2{
    text-align: center;
    padding-bottom: 20px;
}
ul{
    li{
        list-style-type: none;
    }
}

//Header - my photo and about me 

header{
    padding: 60px 0 100px 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .my_photo{
        width: 200px;
        img{
            width: 100%;
            border-radius: 50%;
        }
    }
    .about-me{
        padding-top: 40px;
        width: 600px;
        h1{
            color: #ffffff;
            text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
            padding-bottom: 30px;
            letter-spacing: 5px;
        }
    }
}

//MAIN SKILLS
main{
    .skills{
        width: 70%;
        margin: 0 auto;
        padding: 0px 0 50px 0;
        ul{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            padding: 0;
            li{
                width: 33%;
                padding-top: 40px;
            }
            .photoshop{
                margin-top: -40px;
            }
            .css{
                margin-top: -25px;
            }
        }
    }
    .soft-skills{
        h2{}
        ul{ 
            li{
                display: flex;
                text-align: center;
                justify-content: center;
            }
        }
    }
    .portfolio{
        h2{padding-bottom: 50px;}
        .portfolio-img{
            display: flex;
            flex-wrap: wrap;
            .img-cv{
                width: 33%;
                position: relative;
            img{
                width: 100%;
                    }
                } 
            .img-cv-txt{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(128, 128, 128, 0.438);
                opacity: 0;
                transparent: 0.5s;  
                h3{
                    text-align: center;
                    padding-top: 20px;
                }
                ul{
                    text-align: center;
                }
            }
            }
            .img-cv-txt:hover{
                opacity: 1;
            }
        }

    }






/*Soft Skils*/



footer{
    background-color: black;
    padding: 20px;
}
.footer{
    text-align: center;
}
.footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel';
    padding: 12px;
}
.footer a img{
    width: 25px;
    height: 30px;
    padding: 2px;
}
.footer a:hover{
    color: rgb(27, 2, 250);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
}
