*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel' sans-serif;
    max-width: 100%;
}
h3{
    font-family: 'Cinzel';
    text-align: center;
    padding: 20px 20px;
}
/*Первый экран с видео и текстом*/
.intro{
    max-height: 100vh;  
    overflow: hidden;
    position: relative;
}

/*Позиционирование видео*/
.video{
    position: relative;
    padding-bottom: 56.25%; 
}
.video_media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

/*Burger*/
.burger{
    z-index: 1;
    display: block;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #2b3592;}

.burger span, .burger span:before, .burger span::after {
      display: block;
      content: '';
      margin: 0 auto;
      width: 40px;
      height: 2px;
      background-color: rgb(252, 250, 248); }
    
.burger span:before {
      transform: all 0.3s;
      margin-top: -10px; }
    .burger span::after {
      transform: all 0.3s;
      margin-top: 18px; }
  
.active span {
    background-color: transparent; }
.active span::before {
      transform: rotate(135deg);
      margin-top: 0; }
.active span::after {
      transform: rotate(-135deg);
      margin-top: 0; }
  
.burger-menu {
    position: fixed;
    left: 0;
    transition: all 0.5s;
    width: 100%;
    height: 99%;
    transform: translate(-100%, 0px);
    background-color: #a0a8d485;
    z-index: 0;
    text-align: center;
    padding-top: 20%;
    overflow: auto; }
.burger-menu_active {
      transform: translate(0px 0px); }
.burger-menu li {
      margin-top: 20px; }
.burger-menu li a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Montserrat;
        font-size: 18px;
        text-align: center; }
.burger-menu li a:hover {
        color: yellow; }
.burger-menu li:hover {
      background-color: rgba(255, 255, 255, 0.432); }
  

/*ПЕРВЫЙ ЭКРАН*/
/*Общая текстовая часть*/
.content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Социальные сети*/
.social{
    width: 40px;
    margin-left: -70px;
}
.social-menu{
    padding: 0;   
    margin-top: 80px;
    position: fixed;
}
.social-menu a{
    display: block;
    width: 50px;
    height: 50px;
    color: aliceblue;
    font-size: 20px;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
}
.social-menu a:hover{
    color: rgb(27, 2, 250);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.493);
}
.social-menu a i{
    margin-top: 15px;
    width: 30px;
    height: 30px;

}
/*Шапка*/
.navigation{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.navigation a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel';
    padding: 0 15px;
}
.navigation a:hover{
    color: rgb(27, 2, 250);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
}
/*Главный текст*/
.main_txt{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 500px;
    padding: 0;
}
.intro_title{
    font-family: 'Cinzel';
    color: #fff;
    padding: 0;
    margin-top: 200px;
    width: 500px;
    text-shadow: #fff 2px;
}

/*ABOUT ME*/
.about_me{
    background: linear-gradient(rgb(170, 175, 180), rgb(247, 247, 247));
    font-family: 'Cinzel';
    color: #fff;
    font-size: 20px;
    max-height: 100vh;  /*адаптив.*/
    overflow: hidden;  
    padding-bottom: 50px;
}
.about_me_block{
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
}


/*Skils*/

.skil_bl h3{
    font-family: 'Cinzel';
    text-align: center;
}
.skl_bl_ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.skl_bl_ul li{
    padding-top: 40px;
}
.photoshop{
    margin-top: -40px;
}
.css{
    margin-top: -25px;
}


/*Portfolio*/
.portfolio{
    padding-bottom: 60px;
}
.carousel-item img{
    height: 500px;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -3rem;
    margin-left: 15%;
    list-style: none;
}


/*Code Example*/
.code-example{
    padding-bottom: 40px;
}

.code-html{
    border: rgba(64, 88, 224, 0.411) 2px solid;
    width: 500px;
    margin: 0 auto;
    height: 300px;
    overflow: scroll;
    padding: 20px;

}
/*Soft Skils*/

.soft-skils-ul{
    text-align: center;
    color: black;
    list-style-type: none;
    padding-bottom: 20px;
    font-family: 'Cinzel';
}



footer{
    background-color: black;
    padding: 20px;
}
.footer{
    text-align: center;
}
.footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel';
    padding: 7px 12px;
}
.footer a:hover{
    color: rgb(27, 2, 250);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
}
