*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel' sans-serif;
    max-width: 100%;
}
h3{
    font-family: 'Cinzel';
    text-align: center;
    padding: 20px 20px;
}
/*Первый экран с видео и текстом*/
.intro{
    max-height: 100vh;  
    overflow: hidden;
    position: relative;
}

/*Позиционирование видео*/
.video{
    position: relative;
    padding-bottom: 56.25%; 
}
.video_media{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}

/*Burger*/
#burger_social{
    margin-top: 15px;
}
#navigation_block{
    display: flex;
    flex-direction:column;
    text-align: center;
    padding: 20px 0;
    margin-top: 0;
}

#sidebar{
    display: none;
    z-index: 2;
    position: fixed;
    width: 250px;
    background-color: #4974a8ad;
    border: 1px solid #e0e5ea;
    left: -250px;
    -moz-transition: all 600ms; /*для файр-фокс браузера*/
    -webkit-transition: 600ms; /*плавное открытие в браузере Сафари*/
    transition: all 600ms; /*общий стиль для плавного открытия меню*/
}
#sidebar.active{
    left: 50px;
}


#sidebar .toggle-btn{
    position: absolute;
    left: 270px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.473);
    padding: 15px;
    border-radius: 60px;
    cursor: pointer;
}
#sidebar .toggle-btn:hover{background-color: #555;}
#sidebar .toggle-btn:hover span {background-color: #fafafa;}
#sidebar .toggle-btn span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #666;
    margin: 4px 0;
}  

/*ПЕРВЫЙ ЭКРАН*/
/*Общая текстовая часть*/
.content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

/*Социальные сети*/
.social{
    width: 40px;
    margin-left: -70px;
}
.social-menu{
    padding: 0;   
    margin-top: 80px;
    position: fixed;
}
.social-menu a{
    display: block;
    width: 50px;
    height: 50px;
    color: aliceblue;
    font-size: 20px;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
}
.social-menu a:hover{
    color: rgb(27, 2, 250);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.493);
}
.social-menu a img{
    margin: 0 auto;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

/*Шапка*/
.navigation{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.navigation a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel';
    padding: 0 15px;
}
.navigation a:hover{
    color: rgb(27, 2, 250);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
}
/*Главный текст*/
.main_txt{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 500px;
    padding: 0;
    padding-top: 10%;
}
.intro_title{
    font-family: 'Cinzel';
    color: #fff;
    padding: 0;
    width: 500px;
    text-shadow: #fff 2px;

}

/*ABOUT ME*/
.about_me{
    background: linear-gradient(rgb(170, 175, 180), rgb(247, 247, 247));
    font-family: 'Cinzel';
    color: #fff;
    font-size: 20px;
    max-height: 100vh;  /*адаптив.*/
    overflow: hidden;  
    padding-bottom: 50px;
}
.about_me_block{
    width: 1000px;
    margin: 0 auto;
    text-align: justify;
}


/*Skils*/

.skil_bl h3{
    font-family: 'Cinzel';
    text-align: center;
}
.skl_bl_ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0;
}
.skl_bl_ul li{
    padding-top: 40px;
}
.photoshop{
    margin-top: -40px;
}
.css{
    margin-top: -25px;
}


/*Portfolio*/
.portfolio{
    padding-bottom: 60px;
}
.carousel-item img{
    height: 500px;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -3rem;
    margin-left: 15%;
    list-style: none;
}


/*Code Example*/
.code-example{
    padding-bottom: 40px;
}

.code-html{
    border: rgba(64, 88, 224, 0.411) 2px solid;
    width: 500px;
    margin: 0 auto;
    height: 300px;
    overflow: scroll;
    padding: 20px;

}
/*Soft Skils*/

.soft-skils-ul{
    text-align: center;
    color: black;
    list-style-type: none;
    padding-bottom: 20px;
    font-family: 'Cinzel';
}



footer{
    background-color: black;
    padding: 20px;
}
.footer{
    text-align: center;
}
.footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel';
    padding: 12px;
}
.footer a img{
    width: 25px;
    height: 30px;
    padding: 2px;
}
.footer a:hover{
    color: rgb(27, 2, 250);
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 50px;
}

/*Media*/


@media screen and (max-width: 768px) {
    #sidebar{
        display: block;}
    .navigation{
        display: none;
    }
    .social-menu{
        display: none;
    }

}
@media screen and (max-width: 480px) {
    .carousel-inner {
        height: 300px;}
    #sidebar .toggle-btn{
        left: 251px;
        top: 0px;
        padding: 5px;
    }
    .skl_bl_ul li{
        width: 20%;
    }
}
@media screen and (max-width: 320px) {}
